/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// define the layers

#define L_DEF  0
#define L_NAV  1
#define L_NUM  2
#define L_SYM  3
#define L_FKY  4
#define L_MED  5

/ {
    keymap {
        compatible = "zmk,keymap";

        _0_default_layer {
            bindings = <
&kp LALT   &kp SQT   &kp COMMA  &kp DOT          &kp P              &kp Y               &kp F                &kp G             &kp C               &kp R  &kp L  &kp RALT
&kp LSHFT  &kp A     &kp O      &kp E            &kp U              &kp I               &kp D                &kp H             &kp T               &kp N  &kp S  &kp RSHFT
&kp LCTRL  &kp SEMI  &kp Q      &kp J            &kp K              &kp X               &kp B                &kp M             &kp W               &kp V  &kp Z  &kp RCTRL
                                &lt L_MED ESC  &lt L_NUM TAB  &lt L_NAV ENTER    &lt L_SYM SPACE  &lt L_FKY BSPC  &lt L_MED DELETE
            >;
        };

        _1_navi_layer {
            bindings = <
&trans  &trans        &trans        &trans     &trans     &trans        &trans           &kp HOME     &kp UP_ARROW  &kp END        &kp PAUSE_BREAK  &trans
&trans  &kp LEFT_GUI  &kp LEFT_ALT  &kp LCTRL  &kp LSHFT  &trans        &kp PRINTSCREEN  &kp LEFT     &kp DOWN      &kp RIGHT      &kp SCROLLLOCK   &trans
&trans  &trans        &trans        &trans     &trans     &kp K_MENU    &trans           &kp PAGE_UP  &trans        &kp PAGE_DOWN  &kp INSERT       &trans
                                    &trans     &trans     &trans        &trans           &trans       &trans
            >;
        };

        _2_numbers_layer {
            bindings = <
&trans  &trans    &trans    &trans     &trans     &trans    &trans           &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_NUMLOCK  &trans
&trans  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans    &trans           &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_PLUS     &trans
&trans  &trans    &trans    &trans     &trans     &trans    &kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_ENTER    &trans
                            &trans     &trans     &trans    &trans           &trans           &trans
            >;
        };

        _3_symbols_layer {
            bindings = <
&trans  &kp LS(EXCL)  &kp LS(AT)  &kp LS(POUND)  &kp LS(DLLR)   &kp LS(PRCNT)    &kp CARET     &kp LS(AMPS)  &kp LS(STAR)      &kp LS(LPAR)  &kp LS(RPAR)   &trans
&trans  &kp LCTRL     &kp LALT    &kp LCTRL      &kp LSHFT      &kp EQUAL        &kp MINUS     &kp LS(LPAR)  &kp LEFT_BRACKET  &kp LS(LBRC)  &kp LS(QMARK)  &trans
&trans  &kp SLASH     &kp DOLLAR  &kp PIPE       &kp BACKSLASH  &kp UNDER        &kp LS(PLUS)  &kp LS(RPAR)  &kp RBKT          &kp LS(RBRC)  &kp LS(TILDE)  &trans
                                  &trans         &trans         &trans           &trans        &trans        &trans
            >;
        };

        _4_fkeys_layer {
            bindings = <
&trans  &trans    &trans       &trans           &trans       &trans    &trans  &kp F7  &kp F8  &kp F9  &kp F10  &trans
&trans  &kp LGUI  &kp LALT     &kp LCTRL        &kp LSHFT    &trans    &trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans
&trans  &trans    &kp LG(F12)  &kp LC(LS(TAB))  &kp LC(TAB)  &trans    &trans  &kp F1  &kp F2  &kp F3  &kp F12  &trans
                               &trans           &trans       &trans    &trans  &trans  &trans
            >;
        };

        _5_media_layer {
            bindings = <
&trans  &trans    &trans    &trans     &trans     &trans    &trans  &kp K_MUTE  &kp C_VOLUME_UP  &kp C_VOLUME_DOWN  &trans    &trans
&trans  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans    &trans  &kp RSHFT   &kp RCTRL        &kp RALT           &kp RGUI  &trans
&trans  &trans    &trans    &trans     &trans     &trans    &trans  &trans      &trans           &trans             &trans    &trans
                            &trans     &trans     &trans    &trans  &trans      &trans
            >;
        };
    };
};
